USE [master]
GO
/****** Object:  Database [MFU_Accounting]    Script Date: 07.06.2022 14:13:10 ******/
CREATE DATABASE [MFU_Accounting]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MFU_Accounting', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\MFU_Accounting.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MFU_Accounting_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\MFU_Accounting_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MFU_Accounting].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MFU_Accounting]
GO
/****** Object:  Table [dbo].[Models]    Script Date: 07.06.2022 14:13:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Models](
	[ModelId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CountFueled] [int] NOT NULL,
	[CountEmpty] [int] NOT NULL,
	[CountBroken] [int] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Models] ON 

INSERT [dbo].[Models] ([ModelId], [Name], [CountFueled], [CountEmpty], [CountBroken]) VALUES (8, N'211', 5, 2, 0)
SET IDENTITY_INSERT [dbo].[Models] OFF
GO
USE [master]
GO
